.header{
   display: flex;
   justify-content: space-between;
   text-align: right;
   margin-bottom: 10px;
}

.formPrefix{
   display: inline-block;
   width: 40px;
   line-height: 32px;
   margin-right: 10px;
   text-align: right;
   > i {
      vertical-align: middle;
   }
   > i+i {
      margin-left: 10px;
   }
}

.exampleSentenceItem{
   display: flex;
   justify-content: space-between;
   margin-bottom: 5px;
   padding-right: 20px;
}

.examLine {
   flex: 1;
   display: flex;
   justify-content: space-between;
}