.header{
   display: flex;
   justify-content: space-between;
   text-align: right;
   margin-bottom: 10px;
}

.formPrefix{
   display: inline-block;
   width: 40px;
   margin-right: 10px;
   text-align: right;
}

.exampleSentenceItem{
   display: flex;
   justify-content: space-between;
   margin-bottom: 5px;
}